/.project
/.settings
/microservicecloud-api/.settings
/microservicecloud-api/target
/microservicecloud-consumer-dept-80/*.classpath
/microservicecloud-consumer-dept-80/*.project
/microservicecloud-consumer-dept-80/.settings
/microservicecloud-consumer-dept-80/target

/microservicecloud-consumer-dept-feign/*.project
/microservicecloud-consumer-dept-feign/*.classpath
/microservicecloud-consumer-dept-feign/.settings
/microservicecloud-consumer-dept-feign/target

/microservicecloud-eureka-7001/*.project
/microservicecloud-eureka-7001/*.classpath
/microservicecloud-eureka-7001/.settings
/microservicecloud-eureka-7001/target

/microservicecloud-provider-dept-8001/*.project
/microservicecloud-provider-dept-8001/*.classpath
/microservicecloud-provider-dept-8001/.settings
/microservicecloud-provider-dept-8001/target

/microservicecloud-provider-dept-hystrix-8001/*.project
/microservicecloud-provider-dept-hystrix-8001/*.classpath
/microservicecloud-provider-dept-hystrix-8001/.settings
/microservicecloud-provider-dept-hystrix-8001/target

/microservicecloud-api/*.project
/microservicecloud-api/*.classpath
/microservicecloud-api/.settings
/microservicecloud-api/target

